.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
/.quarto/
.Rprofile
**/*.quarto_ipynb
**/data/
analysis*
.positai
manuscript*
CLAUDE.md
*.aux
*.log
*.tex
*.toc
**/*_files/figure-pdf/
.RData
